-var i = 0

mixin checkbox(label, name, onlyIf)
  if name === undefined
    -name = 'checkbox' + i++
  .checkbox
      label(for=name)
        input(id=name type='checkbox' name=name class=(onlyIf ? 'onlyIf' : false) checked)
        | !{label}

section#wizard
  //- p
  //-   strong Instructions: 
  //-   | Check all that may apply to the ICT you are procuring.
  fieldset
    legend
      span.field-name L’approvisionnement en <abbr title="Technologies de l'information et de la communication">TIC</abbr> fournit-il ce qui suit :
    .row
      .col-md-6
        each question, index in question_list
          if index <= question_list.length/2
            +checkbox(question.frName, question._id, question.onlyIf)
      .col-md-6
        each question, index in question_list
          if index > question_list.length/2
            +checkbox(question.frName, question._id, question.onlyIf)

  //- Hidden data (for client-side javascript)
  .hidden#question-data
    each question in question_list
      ul.question(data-question-id=question._id)
        each clause in question.clauses
          li !{clause._id}