extends layout

block content
  h1#wb-cont(property="name")= title
  form(method='POST' action='' novalidate='novalidate')
    .form-group
      label(for='question') Load commodity question
      select#question.form-control(name='question')
        option(value='custom') Custom (specify clauses below)
        each question in question_list
          option(value=question.id) #{question.name}

    include includes/clause_tree

    button.btn.btn-primary(type='submit') Generate requirements
  
  //- Hidden data (for client-side javascript)
  .hidden#question-data
    ul.question#custom
    each question in question_list
      ul.question(id=question.id)
        each clause in question.clauses
          li #{clause}